[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "==3.18.0"

[dev-packages]

[requires]
python_version = "3.13"
